{
  "extends": ["react-app", "react-app/jest"],
  "overrides": [
    {
      "files": ["src/service-worker.js"],
      "rules": {
        "no-restricted-globals": "off"
      },
      "globals": {
        "self": true
      }
    }
  ]
} 